/*Elements*/

a {
    cursor: pointer;
}

body {
    background-color: #F0F0F0;
}

h1 {
    color: #003366;
    text-align: center;
}

/*Classes*/

.btn-default {
    color: #003366;
    padding: 1em;
    display: inline-block;
}

.navbar {
    background-color: #F8F8F8;
    padding: 0.6em;
}

.navbar-default .navbar-nav .menu-item {
    font-size: 1.2em;
    color: #003366;
    font-weight: bold;
}

.navbar-default .navbar-brand {
    font-size: 1.5em;
    color: #003366;
    font-family: Verdana;
    border: 2px solid #003366;
    border-radius: 4em;
}

.navbar-default .navbar-nav .menu-item:hover {
    font-size: 1.2em;
    color: #003366;
    border-bottom: 2px solid #003366;
    font-weight: bold;
}

.list {
    background-color: #F8F8F8;
    border-radius: 20px;
    padding: 1em;
}

.social-share {
    width: 3em;
    height: 3em;
    padding: 5px;
}

.thumb {
    width: 1.5em;
    height: 1.5em;
}

/*ID*/

#name-of-logged-in-user {
    font-weight: bold;
    color: #003366;
}

#button-reset {
    background-color: #F0F0F0;
    border: 0;
    height: 34px;
    padding: 0;
}