.borderless td, .borderless th {
    border: none !important;
}

.btn-success {
    border-radius: 2px;
}

a span .glyphicon {
    font-size: 3.7em;
    color: pink;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}

