<div class="container">
    <div class="panel panel-default list">
        <div class="panel-heading">
            <h2>{{activeChallenge.topic}}</h2>
            <small>Created {{activeChallenge.creationDate | date }} by<a
                    ng-click="viewUserProfilePage(activeChallenge.challengeCreator)"> {{
                activeChallenge.challengeCreator.firstName }}</a></small>
        </div>
        <div class="panel-body">
            <h4>{{activeChallenge.description}}</h4>

            <div class="row">
                <div class="col-sm-10">
                    <button type="button"
                            class="btn btn-primary"
                            ng-hide="activeChallenge.challengeClaimed || activeChallenge.challengeCompleted"
                            ng-click="claimCurrentChallenge(activeChallenge)"
                            ng-disabled="isLoggedInUserTheChallengeCreator(activeChallenge)">
                        Claim This Challenge
                    </button>
                </div>
            </div>

            <div ng-hide="activeChallenge.challengeCompleted">
                <form class="form-horizontal" role="form" ng-show="activeChallenge.challengeClaimed"
                      id="uploadYoutubeVideoForm">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <input id="input-youtube-url" type="text" placeholder="Youtube URL here"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <button class="btn btn-default" ng-click="addYoutubeUrlToCurrentChallenge(activeChallenge)">
                                Add URL
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-default"
                                    ng-click="confirmYoutubeVideoToCurrentChallenge(activeChallenge)">Confirm This Video
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <p>
                <iframe id="youtubeFrame" width="510" height="350"
                        allowfullscreen="true"
                        ng-src="{{ markUrlAsTrusted(activeChallenge.youtubeURL) }}"
                        ng-show="activeChallenge.youtubeUrlProvided || activeChallenge.challengeCompleted">
                </iframe>
            <p>
        </div>
        <!--<div class="panel-footer">
            <form class="form-horizontal" role="form" id="commentChallengeForm">
                <h4>Comments</h4>

                <div class="form-group">
                    <textarea class="form-control" placeholder="Write a comment!" rows="4"
                              id="textarea-comment-field"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" ng-click="addCommentToChallenge(activeChallenge)">Add Comment
                    </button>
                </div>
            </form>
        </div>-->
        <!--<div>
            <table class="table borderless" ng-repeat="comment in activeChallenge.challengeComments">
                <thead>
                <tr>
                    <th>User</th>
                    <th>{{comment.content}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td rowspan="2">
                        <span class="glyphicon glyphicon-user"></span>
                    </td>
                </tr>
                <tr>
                    &lt;!&ndash;<td>&lt;!&ndash;{{comment.content}}&ndash;&gt;&ndash;&gt;
                    Det är ett välkänt faktum att läsare distraheras av läsbar text på en
                    sida när man skall studera layouten. Poängen med Lorem Ipsum är att det ger ett normalt
                    ordflöde,
                    till skillnad från "Text här, Text här", och ger intryck av att vara läsbar text. Många
                    publiseringprogram och
                    webbutvecklare använder Lorem Ipsum som test-text, och en sökning efter "Lorem Ipsum" avslöjar
                    många webbsidor under uteckling.
                    Olika versioner har dykt upp under åren, ibland av olyckshändelse, ibland med flit (mer eller
                    mindre humoristiska).
                    </td>
                </tr>
                </tbody>
            </table>
        </div>-->
    </div>
</div>