<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<div class="container-fluid">
<div class="panel panel-default" ng-hide="challenge == null">
    <div class="panel-heading">
        <h2><!--        {{challenge.topic}}-->Kasta katter i Kreml <small><!--        {{challenge.creationDate}}-->2016:01:16</small></h2>
    </div>
    <div class="panel-body">
        <h4><!--{{challenge.description}}-->Jag vill se någon kasta katter i Kreml</h4>
<!--        {{challenge.upvotes}}
        3-->
        <!--{{challenge.isChallengeClaimed}}-->
    </div>


    <div class="panel-footer">

        <form class="form-horizontal" role="form">
            <h4>Comments</h4>
            <div class="form-group">
                <div class="col-sm-8">
                <textarea class="form-control" placeholder="Make a comment!" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                <button class="btn btn-default" ng-click="addCommentToChallenge()">Add Comment</button>
                </div>
            </div>
        </form>
        <!--Make a imageframe -->
    </div>
    <div>
    <table class="table borderless" ng-repeat="comment in challenge.listOfComments">
        <thead>
        <tr>
            <th>User</th>
            <th><!--{{comment.commentDate}}--> 2016:12:24</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">
                    <span class="glyphicon glyphicon-user"></span>
                </td>
            </tr>
            <tr>
                <td><!--{{comment.content}}-->Det är ett välkänt faktum att läsare distraheras av läsbar text på en
                    sida när man skall studera layouten. Poängen med Lorem Ipsum är att det ger ett normalt ordflöde,
                    till skillnad från "Text här, Text här", och ger intryck av att vara läsbar text. Många publiseringprogram och
                    webbutvecklare använder Lorem Ipsum som test-text, och en sökning efter "Lorem Ipsum" avslöjar många webbsidor under uteckling.
                    Olika versioner har dykt upp under åren, ibland av olyckshändelse, ibland med flit (mer eller mindre humoristiska).</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</div>