<div class="directive-search-challenges"></div>
<div class="table-responsive list">
    <h1>All completed challenges</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                <a href="" ng-click="orderByField = 'topic'; reverseSort = !reverseSort">Topic
                    <span ng-show="orderByField == 'topic'">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderByField = 'description'; reverseSort = !reverseSort">Description
                    <span ng-show="orderByField == 'description'">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderByField = 'creationDate'; reverseSort = !reverseSort">Date of creation
                    <span ng-show="orderByField == 'creationDate'">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderByField = 'upvotes'; reverseSort = !reverseSort">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span ng-show="orderByField == 'upvotes'">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="challenge in listOfCompletedChallenges | filter:searchChallenges | orderBy:orderByField:reverseSort">
            <td><a href="#" ng-click="viewChallengeProfilePage(challenge)">{{challenge.topic}}</a></td>
            <td>{{challenge.description}}</td>
            <td>{{challenge.creationDate}}</td>
            <td><a href="#" ng-click="upvoteChallenge(challenge)">
                <span class="glyphicon glyphicon-thumbs-up" ng-show="!isChallengeUpvotedByUser(challenge)"></span></a></td>
            <td>{{challenge.upvotes}}</td>
        </tr>
        </tbody>
    </table>
</div>