
<div class="table-responsive list">
    <h1>Top Challengers</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in listOfUsers | orderBy:'-totalChallengePoints'" ng-if="user.totalChallengePoints != null">
            <td><a ng-click="viewUserProfilePage(user)">{{user.firstName}} {{user.lastName}}</a></td>
            <td>{{user.totalChallengePoints}}</td>
        </tr>
        </tbody>
    </table>
</div>