<div class="directive-search-challenges"></div>
<div class="table-responsive list">
    <h1>Available challenges</h1>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-available" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">Sort by <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-available">
            <li><a href="" ng-click="orderByFieldAvailable = 'creationDate'; reverseSortAvailable = !reverseSortAvailable">Date of creation</a>
            </li>
            <li><a href="" ng-click="orderByFieldAvailable = 'upvotes'; reverseSortAvailable = !reverseSortAvailable">Upvotes</a></li>
        </ul>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Topic</th>
            <th>Description</th>
            <th>Date of creation</th>
            <th></th>
            <th>Upvotes</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="challenge in listOfChallenges | filter:searchChallenges | orderBy:orderByFieldAvailable:reverseSortAvailable"
            ng-hide="challenge.challengeClaimed">
            <td><a href="#" ng-click="viewChallengeProfilePage(challenge)">{{challenge.topic}}</a></td>
            <td>{{challenge.description}}</td>
            <td>{{challenge.creationDate}}</td>
            <td><a href="#" ng-click="upvoteChallenge(challenge)">
                <img src="img/like.png" class="thumb" onmouseover="src='img/like2.png'" onmouseout="src='img/like.png'"
                     ng-show="!isChallengeUpvotedByUser(challenge)">
                <img src="img/like2.png" class="thumb" onmouseover="src='img/like.png'" onmouseout="src='img/like2.png'"
                     ng-show="isChallengeUpvotedByUser(challenge)"></a></td>
            <td>{{challenge.upvotes}}</td>
        </tr>
        </tbody>
    </table>
</div>