<h1>Videos to approve</h1>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                <a href="" ng-click="orderByField = 'topic'; reverseSort = !reverseSort">Topic
                    <span ng-show="orderByField == 'topic'">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </a>
            </th>
            <th>
                <a href="" ng-click="orderByField = 'description'; reverseSort = !reverseSort">Description
                    <span ng-show="orderByField == 'description'">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                </a>
            </th>
            <th>Video</th>
            <th>Approve / Disapprove</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="challenge in listOfUnapprovedChallenges | orderBy:orderByField:reverseSort" ng-hide="challenge.challengeCompleted">
            <td><a href="#" ng-click="viewChallengeProfilePage(challenge)">{{challenge.topic}}</a></td>
            <td>{{challenge.description}}</td>
            <td><iframe width="200" height="200" ng-src="{{ markUrlAsTrusted(challenge.youtubeURL) }}"></iframe></td>
            <td><a href="#">
                <button ng-click="completeChallenge(challenge)" class="btn btn-success">APPROVE</button>
                <button class="btn btn-danger">DISAPPROVE</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>