<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ca-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Challenge Accepted</a>
        </div>
        <div class="collapse navbar-collapse" id="ca-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Challenge
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="showCreateChallengeSection()">Create</a></li>
                        <li><a ng-click="showListOfChallengesSection()">Available</a></li>
                        <li><a ng-click="showListOfCompletedChallengesSection()">Completed</a></li>
                    </ul>
                </li>
                <li><a href="#" ng-click="showApproveVideosSection()">Approve Videos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div ng-controller="GoogleUserController">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    <a href="#" ng-click="signOut()">Sign out</a>
                </div>
            </ul>
        </div>
    </div>
</nav>
<script src="https://apis.google.com/js/platform.js" async defer></script>
