<div ng-repeat="notification in listOfNotifications | orderBy: date:reverseSort">
    <p>
    <h4>
        <small>{{ notification.dateTimeOfNotification | date }}</small>
        <a ng-click="viewUserProfilePage(notification.interactor)">{{ notification.interactor.firstName }}</a>
        <span ng-if="notification.notificiationInfo.action === 'UPVOTECHALLENGE'"> upvoted </span>
        <span ng-if="notification.notificiationInfo.action === 'CREATECHALLENGE'"> created </span>
        <span ng-if="notification.notificiationInfo.action === 'CLAIMCHALLENGE'"> claimed </span>
        <span ng-if="notification.notificiationInfo.action === 'APPROVECHALLENGE'"> approved </span>
        <span ng-if="notification.notificiationInfo.action === 'PERFORMEDCHALLENGE'"> performed </span>
    <span ng-if="notification.notificiationInfo.action === 'FAILEDTOPERFORMECHALLENGE'"> just failed to perform </span>
        challenge
        <a ng-click="viewChallengeProfilePage(notification.interactedChallenge)">{{ notification.interactedChallenge.topic }}</a>
    </h4>
    </p>
</div>