<form class="form-horizontal">
    <div class="form-group">
        <label for="search-challenges" class="control-label col-sm-1"><span class="glyphicon glyphicon-search"></span></label>

        <div class="col-sm-9">
            <input id="search-challenges" type="search" class="form-control" ng-model="searchChallenges" placeholder="Topic, description, date">
        </div>
        <div class="col-sm-1">
            <button id="button-reset" type="reset" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</form>